
<form methos=""post" action="http://localhost:8080/agrega">
<label for="">
<input type="text" name="nombre" value="Congelador" placeholder="tu producto">


</label>
<label>
<input type="text" name="precio" value="1" placeholder="tu precio">

</label>
<label>
<input type="text" name="thumbail" value="" placeholder="link">
<button> Ingresa</button>
</label>

</form>