{{!-- index.hbs --}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title >Trabajo Plantilla APP</title>
<meta name="viewport" content="width-device-width, initial-scale=1.0, viewport-fit=cover" >
<link rel="stylesheet" type="text/css" href="./public/style.css">
</link>
</head>
<body>
<span></span>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    {{{body}}}
</body>

</html>